In [1]:
from eda_imports import *

seaborn not found

In [2]:
df_clv_sc = pd.read_pickle('/projects/btl/zxue/tasrkleat-TCGA-results/tasrkleat-ng/data/clv-sc-mapping-hg19.pkl')

In [3]:
df_clv_sc.head(2)

  seqname gene_name          gene_id    transcript_id          source        sc       clv strand     gene_source transcript_source  is_cds_end_NF  is_cds_start_NF
0  1       A3GALT2   ENSG00000184389  ENST00000330379  protein_coding  33772367  33772366  -      ensembl_havana  ensembl           1.0            1.0
1  1       A3GALT2   ENSG00000184389  ENST00000442999  protein_coding  33772367  33772366  -      ensembl_havana  havana            1.0            1.0

In [4]:
ndf = df_clv_sc[['seqname', 'strand', 'clv', 'gene_name', 'gene_id']]

In [5]:
ndf.shape

(196354, 5)

In [6]:
%time odf = ndf.drop_duplicates()

CPU times: user 70 ms, sys: 7.51 ms, total: 77.5 ms
Wall time: 76.4 ms

In [7]:
odf.shape

(180143, 5)

In [12]:
def process(grp):
    assert grp.gene_id.unique().shape[0] == grp.shape[0]
    sr = grp.sort_values('gene_name').apply(lambda c: ' '.join(c))
    sr['gene_count'] = grp.shape[0]
    return sr

In [32]:
# for k, g in odf.groupby(['seqname', 'strand', 'clv']):
#     break

# g

# x = g[['gene_name', 'gene_id']].sort_values('gene_name').apply(lambda c: ' '.join(c))

# x

# x['gene_count'] = g.shape[0]

# x

In [13]:
%time pdf = odf.groupby(['seqname', 'strand', 'clv']).apply(process)

CPU times: user 7min 3s, sys: 2.41 s, total: 7min 5s
Wall time: 7min 4s

In [14]:
qdf = pdf.reset_index()

In [15]:
qdf.shape

(179898, 6)

In [16]:
qdf.head()

  seqname strand    clv          gene_id   gene_name  gene_count
0  1       +      13671  ENSG00000223972  DDX11L1     1
1  1       +      14410  ENSG00000223972  DDX11L1     1
2  1       +      14413  ENSG00000223972  DDX11L1     1
3  1       +      30504  ENSG00000243485  MIR1302-10  1
4  1       +      31098  ENSG00000243485  MIR1302-10  1

In [17]:
qdf.gene_count.value_counts()

1     179687
2     207
19    1
14    1
6     1
3     1
Name: gene_count, dtype: int64

In [18]:
qdf.to_pickle('/projects/btl2/zxue/kleat/karbor-clv-annotation-hg19.pkl')